<html>
    <head>
        <title>OCTODEPS dashboard</title>
    </head>
    <body>
        <h1>OCTODEPS dashboard</h1>
        <div id="id_opt_sims_div">
            <h2>Optical simulations</h2>
            <div id="id_opt_to_setup">
                <h3>To setup</h3>
            </div> 
            <div id="id_opt_to_run">
                <h3>To run</h3>
            </div> 
            <div id="id_opt_to_analyse">
                <h3>To analyse</h3>
            </div> 
        </div>
        <div id="id_elc_sims_div">
            <h2>Electrical simulations</h2>
            <div id="id_elc_to_setup">
                <h3>To setup</h3>
            </div> 
            <div id="id_elc_to_run">
                <h3>To run</h3>
            </div> 
            <div id="id_elc_to_analyse">
                <h3>To analyse</h3>
            </div> 
        </div>
        <div id="id_results_div">
            <h2>Results</h2>
        </div>
        <div id="id_buttons_div">
            <button type="button" id="id_go_button">Go</button> 
            <button type="button" id="id_stop_button">Stop</button> 
            <button type="button" id="id_clear_button">Clear</button> 
            <button type="button" id="id_plot_button">Plot</button> 
        </div>
    </body>
</html>